.custom-form-control {
  width:100px;
  display:inline-block;
}

#searchForm {
  display: inline;
}

#searchForm > input {
  width:100px;
  display:inline-block;
}

#insertMaterialiForm .ng-invalid:not(.ng-untouched) {
  background-color:#ff00004f;
  border-color: red;
}

#insertMaterialiForm .code {
  width:100px;
}

#insertMaterialiForm .name, #insertMaterialiForm .forn {
  width:300px;
}

#insertMaterialiForm .price {
  width:100px;
}
#insertMaterialiForm .collobj {
  width:100px;
}
.insert-form-container{
  margin-top:2em;
}
.materiali-int {
  margin-top:1em;
}
.search-control {
 margin-top:1.5em

}
.results-container {
      padding-top: 2em;
}
.tab-results {
  width:100%;
}
.insResp{
  text-align: center;
  background-color:#46dd46;
  color:#1a6f00;
}
.hasError {
  background-color: #ff4d4d;
  color:#c50202;
}
