<div class="row maincontent">
  <div class="col-10 materiali-int">
    <div class="h4"><u>Ricerca o inserisci nuovo articolo</u></div>
    <div class='switchFunction'>
      <span style=""><button type="button" class="btn btn-primary" (click)="toggleInsert()">Nuovo articolo</button></span>
    </div>
    <div class="search-control">
      <app-dynamic-form [config]='searchFormFields' [formConfig]='formConfig.searchForm' #searchForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="insertMode">
    <app-dynamic-form [config]='insertMaterialiFormFields' [formConfig]='formConfig.insertMaterialiForm' #insertMaterialiForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
  </div>
  <div class="col-10 results-container" *ngIf="!insertMode">
    <table class="tab-results">
      <tr>
        <th>
          Mod
        </th>
        <th>
          CODICE
        </th>
        <th>
          NOME ARTICOLO
        </th>
        <th>
          FORNITORE
        </th>
        <th>
          €/COLLO
        </th>
        <th>
          ARTICOLI/COLLO
        </th>
        <th>
          NOTE
        </th>
      </tr>
      <ng-template ngFor let-searchRes [ngForOf]="searchResults" let-i="index">
        <tr [ngClass]="{'even': i % 2 == 0}">
          <td class="mod">
            <span><i class="fa fa-pencil" aria-hidden="true" (click)="toggleUpdating(i)"></i></span>
          </td>
          <td class="code">
            {{searchRes.code}}
          </td>
          <td class="name">
            {{searchRes.name}}
          </td>
          <td class="fornitore">
            {{searchRes.fornitore}}
          </td>
          <td class="price">
            {{searchRes.price}}
          </td>
          <td class="collobj">
            {{searchRes.collobj}}
          </td>
          <td class="note">
            {{searchRes.note}}
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="update-div" *ngIf="isUpdating[i]"  [ngClass]="{'even': i % 2 == 0}" >
              <app-update-form [inputFields]="searchRes" [ind]="i" [um]='um' (updateParent)='updateSearchResults($event)'></app-update-form>
          </div>
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
