<div class="row justify-content-center header-container">
  <div class="col-sm-10 col-12 header">
    <div class="row justify-content-start align-items-center header-main-content">
      <div class="col-lg-auto">
      </div>
      <div class="col-sm-5 hidden-sm-down">
        <div class = "row justify-content-center align-items-center">
          <div class="col-12 col-sm-12">
            <div class = "row align-items-center">
              <div class="col-12 col-sm-10 maintitle">
                    {{siteTitle}}
              </div>
            </div>
            <div class = "row align-items-center">
              <div class="col-12 col-sm-12 sub-maintitle">
                    {{subTitle}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-8 col-8 search-header">
      </div>
      <div class="col-sm-1 col-1 search-header">
      </div>
    </div>
  </div>
</div>
