<div class="container-fluid flex-cont fade-in">
  <app-header></app-header>
  <div class="row align-items-center container-row">
    <div class="col-2 navigation">
      <div class="bootstrap-vertical-nav">
        <div class="navig elList mainEl" disabled> Materie Prime </div>
        <ul class ="subitem-list">
          <li class="btn btn-primary articoli navig" (click)="navigation('articoli')">
            Articoli
          </li>
          <li class="btn btn-primary um navig" (click)="navigation('umisura')">
            Unità di misura
          </li>
          <li class="btn btn-primary categorie navig" (click)="navigation('cat-articoli')">
            Categorie
          </li>
          <li class="btn btn-primary categorie navig" (click)="navigation('fornitori')">
            Fornitori
          </li>
        </ul>
        <button type="button" class="btn btn-primary magazzino navig" (click)="navigation('magazzino')"> Magazzino </button>
        <button type="button" class="btn btn-primary ordini navig" (click)="navigation('ordini')"> Ordini </button>
        <button type="button" class="btn btn-primary costi navig" (click)="navigation('costi')"> Costi di gestione </button>
      </div>
    </div>
    <div class="col-10 visual">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
