<div class="row maincontent">
  <div class="col-10 categ-int">
    <div class="h4"><u>Ricerca o inserisci nuova categoria</u></div>
    <div class="search-control">
        <form id="searchForm" [formGroup] = "searchForm" class = "search-form" (ngSubmit)="search(searchForm)">
          <span>Categoria:</span> <input class="form-control name"
          formControlName="name"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off" type="text">
          <button type="submit" class="btn submit-btn">Cerca</button>
        </form>
      <span style="margin-left:140px;"><button type="button" class="btn btn-primary" (click)="toggleInsert()">Nuova Categoria</button></span>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="insertMode">
    <form id="insertCatForm" [formGroup] = "insertCatForm" (ngSubmit)="insert(insertCatForm)">
      <span>Nome</span>: <input class = "form-control name"
      formControlName="name"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text"
      value="">
      <div>
      <span>Descrizione</span><input class = "form-control descr"
      formControlName="descr"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text"
      value="">
      <button type="submit" class="btn submit-btn">Inserisci</button>
      </div>
    </form>
    <div *ngIf="hasResponse" class="insert-result">
      <div class="insResp" [ngClass]="{'hasError':hasError}">
        <div><span><b>{{notifyInsert.msg}}</b></span></div>
        <div><span>{{notifyInsert.result}}</span></div>
      </div>
    </div>
  </div>
  <div class="col-10 results-container" *ngIf="!insertMode">
    <table class="tab-results">
      <tr>
        <th>
          Mod
        </th>
        <th>
          CODICE
        </th>
        <th>
          NOME
        </th>
        <th>
          DESCRIZIONE
        </th>
      </tr>
      <ng-template ngFor let-searchRes [ngForOf]="searchResults" let-i="index">
        <tr [ngClass]="{'even': i % 2 == 0}">
          <td class="mod">
            <span><i class="fa fa-pencil" aria-hidden="true" (click)="toggleUpdating(i)"></i></span>
          </td>
          <td class="code">
            {{searchRes.id}}
          </td>
          <td class="name">
            {{searchRes.name}}
          </td>
          <td class="descr">
            {{searchRes.descr}}
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="update-div" *ngIf="isUpdating[i]"  [ngClass]="{'even': i % 2 == 0}" >
              <app-update-cat [inputFields]="searchRes" [ind]="i" (updateParent)='updateSearchResults($event)'></app-update-cat>
          </div>
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
