<div class="row maincontent">
  <div class="col-10 magazzino-int">
    <div class="h4"><u>Gestione Magazzino</u></div>
    <div class="navigation-panel">
      <span><button type="button" class="btn btn-primary variazioni" (click)="toggleState()">Variazioni</button></span>
      <span><button type="button" class="btn btn-primary storequery" (click)="toggleState()">Interroga Magazzino</button></span>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="variationMode">
    <div class="search-control">
        <form id="searchForm" [formGroup] = "searchForm" class = "search-form" (ngSubmit)="search(searchForm)">
          <span>Codice articolo :</span> <input class="form-control"
          formControlName="code"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off" type="text"
          value="">
          <span id="nmSearch">Nome : </span>
          <div>
          <input #searchName class="form-control name"
          formControlName="name"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off" type="text"
          value="" [textSearch]="searchName.value" [execFunction]='findFunction' [subsRes]='subsFunction'>
        </div>
          <!--span id="nmSearch">Dal : </span>
          <mat-form-field>
          <input matInput [matDatepicker]="datfrom" class="form-control"
          formControlName="datfrom">
            <mat-datepicker-toggle matSuffix [for]="datfrom"></mat-datepicker-toggle>
            <mat-datepicker #datfrom></mat-datepicker>
          </mat-form-field>
          <span id="nmSearch">Al : </span>
          <mat-form-field>
          <input matInput [matDatepicker]="datto" class="form-control"
          formControlName="datto">
          <mat-datepicker-toggle matSuffix [for]="datto"></mat-datepicker-toggle>
          <mat-datepicker #datto></mat-datepicker>
        </mat-form-field-->
          <button type="submit" class="btn submit-btn">Cerca</button>
        </form>
      <!--span style=""><button type="button" class="btn btn-primary" (click)="toggleInsert()">Nuovo articolo</button></span-->
    </div>
    <div class="insert transaction" *ngIf="currentArticle">
      <div class="trans-code">
      <span>Codice Articolo: {{currentArticle?.code}}</span>
      </div>
      <div class="trans-name">
      <span>Nome Articolo: {{currentArticle?.name}}</span>
      </div>
      <div class="trans-totalNumber">
      <span>Totale a disposizione in Magazzino: {{currentArticle?.totalInStore?.tot}}  </span><span>    Data ultimo aggiornamento: {{currentArticle?.totalInStore?.date}} </span>
      </div>
      <div class="addremove">
        <div>
          <button type ="button" class="btn add" (click)=addItem(true)>Aggiungi</button>
          <button type ="button" class="btn remove"(click)=addItem(false)>Sottrai</button>
        </div>
        <div *ngIf="isAddingMode">
          <form id="addForm" [formGroup] = "addForm" class = "addform" (ngSubmit)="addTrans(addForm)">
            <span>Quantità da aggiungere</span>
            <input class="form-control"
              appFormatNumber
              formControlName="qtadd" autocorrect="off"
              autocapitalize="off"
              spellcheck="off" type="text"
              value="">
              <span>Motivazioni</span>
              <select class = "form-control motivazioni" [(ngModel)]="motivazioni"
              formControlName="motivazioni">
              <option *ngFor="let addM of addMotivation">{{addM.motName}}</option>
            </select>
          </form>
        </div>
        <div *ngIf="!isAddingMode">
          Sottrai
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="!variationMode">
    interrogo
  </div>
</div>
