<div class="row maincontent">
  <div class="col-10 magazzino-int">
    <div class="h4"><u>Gestione Magazzino</u></div>
    <div class="navigation-panel">
      <span><button type="button" class="btn btn-primary storequery" (click)="toggleState()">Interroga Magazzino</button></span>
      <span><button type="button" class="btn btn-primary variazioni" (click)="toggleState()">Variazioni</button></span>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="variationMode">
    <div class="search-control">
      <app-dynamic-form [config]='searchFormFields' [formConfig]='formConfig.searchForm' #searchForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    </div>
    <div class="insert transaction" *ngIf="currentArticle">
      <div class="trans-code">
      <span>Codice Articolo: <span class="font-weight-bold">{{currentArticle?.code}}</span></span>
      </div>
      <div class="trans-name">
      <span>Nome Articolo: <span class="font-weight-bold"> {{currentArticle?.name}}</span></span>
      </div>
      <div class="trans-totalNumber">
      <span>Totale a disposizione in Magazzino: <span class="font-weight-bold">{{currentArticle?.totalInStore?.tot}}</span> </span><span>    Data ultimo aggiornamento: <span class="font-weight-bold">{{currentArticle?.totalInStore?.date}}</span> </span>
      </div>
      <div class="addremove">
        <div>
          <button type ="button" class="btn add" (click)=addItem(true)>Aggiungi</button>
          <button type ="button" class="btn remove"(click)=addItem(false)>Sottrai</button>
        </div>
        <div *ngIf="isAddingMode">
            <app-dynamic-form [config]='addFormFields' [formConfig]='formConfig.addTransForm' #addTransForm (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
        </div>
        <div *ngIf="!isAddingMode">
          <app-dynamic-form [config]='remFormFields' [formConfig]='formConfig.remTransForm' #remTransForm (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="!variationMode">
    <div class="col-10 results-container" *ngIf="!insertMode">
      <table class="tab-results">
        <tr>
          <th>
            CODICE
          </th>
          <th>
            NOME ARTICOLO
          </th>
          <th>
            FORNITORE
          </th>
          <th>
            TOTALE A MAGAZZINO
          </th>
        </tr>
        <ng-template ngFor let-article [ngForOf]="articles" let-i="index">
          <tr [ngClass]="{'even': i % 2 == 0}">
            <td class="code">
              {{article.code}}
            </td>
            <td class="name">
              {{article.name}}
            </td>
            <td class="fornitore">
              {{article.fornitore}}
            </td>
            <td class="totale">
              {{article.totalInStore?.tot}}
            </td>
          </tr>
          <tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
