<ng-container *ngIf="config.visible">
  <div
     class="dynamic-field form-group" [ngClass]='contClasses'
     [formGroup]="group">
     <div>
       <label>{{ config.label }}:</label>
      </div>
     <div class="input-container">
       <input
        #element
        [appFormatNumber]='controlDirectivesObject.appFormatNumber'
        type="text" class="form-control" [ngClass]='elementClasses'
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        [attr.placeholder]="config.placeholder"
        [formControlName]="config.formControlName"
        [textSearch]="element.value" [searchFunction]="config.textSearchFunction"
        [changeSubs] ='updateControl'>
     </div>
     <ng-container *ngIf="config.warns">
       <span class="totWarn">{{config.warns}}</span>
     </ng-container>
   </div>
</ng-container>
