<ng-container *ngIf="config.visible">
  <div class="dynamic-field form-group" [ngClass]='contClasses'
   [formGroup]="group">
   <div>
     <label>{{ config.label }}:</label>
    </div>
    <div class="select-container">
      <select  class="form-control" [ngClass]='elementClasses'
       [(ngModel)]="selectOptions"
       (ngModelChange)="onChangesControl($event)"
      [formControlName]="config.formControlName"
      >
      <option *ngFor="let opt of config.options" [ngValue]="opt.name">{{opt.name}}</option>

      </select>
      <ng-container *ngIf="totWarn">
      <span class="totWarn">{{totWarn}}</span>
      </ng-container>
    </div>
  </div>
</ng-container>
