.large {
  width:300px;
}
.xl {
  width:500px;
}
input {
  display:inline;
    width:120px;
}
.inline {
  display: inline-block;
}
:host {
  margin-left:1em;
  margin-right:1em;
}
:host(.block) {
  width:100%;
}
.dynamic-field {
  display:flex;
  align-items: center;
}
.input-container{
  position:relative;
}
input.ng-invalid:not(.ng-untouched) {
  background-color:#ff00004f;
  border-color: red;
}
