<form id="updateForm" [formGroup] = "updateForm" (ngSubmit)="update(updateForm, _index)">
  <span>Codice articolo:</span> <input class = "form-control code"
  formControlName="code"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  Nome: <input class = "form-control name"
  formControlName="name"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <div class="prod-det">
  <span>N articoli/collo: </span> <input class = "form-control collobj"
  formControlName="collobj"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <span>Quantità singolo articolo:</span> <input class = "form-control qta"
  formControlName="qta"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <span>Unità di misura:</span>
  <select class = "form-control umId" [(ngModel)]="selectedSearchValue"
  formControlName="umId"
  >
  <option *ngFor="let u of _um; let i = index;" [ngValue]="u.id">{{u.um}}</option>
  </select>
</div>
<div>
  <span>Prezzo per collo:</span> <input class = "form-control price"
  formControlName="price"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <span>Fornitore:</span> <input class = "form-control forn"
  formControlName="fornitore"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <span>Note:</span> <input class = "form-control note"
  formControlName="note"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="textarea"
  value="">
</div>
  <button type="submit" class="btn submit-btn">Aggiorna</button>
</form>
<div *ngIf="hasResponse" class="insert-result">
  <div class="insResp" [ngClass]="{'hasError':hasError}">
    <div><span><b>{{notifyInsert.msg}}</b></span></div>
    <div><span>{{notifyInsert.result}}</span></div>
  </div>
</div>
