#updateForm .ng-invalid:not(.ng-untouched) {
  background-color:#ff00004f;
  border-color: red;
}


#updateForm .name, #insertMaterialiForm .forn {
  width:300px;
}
#updateForm .descr{
  width:500px;
}



#updateForm {
  padding:0.5em;
}
#updateForm .submit-btn {
background-color: #5383dac9;
margin-top:1.5em;
}


.insResp{
  text-align: center;
  background-color:#46dd46;
  color:#1a6f00;
}
.hasError {
  background-color: #ff4d4d;
  color:#c50202;
}
