<form id="updateForm" [formGroup] = "updateForm" [displayResponse]="insertResponse" (ngSubmit)="update(updateForm, _index)">
  <span>Nome</span> <input class = "form-control name"
  formControlName="name"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  Descrizione: <input class = "form-control descr"
  formControlName="descr"
  autocorrect="off"
  autocapitalize="off"
  spellcheck="off" type="text"
  value="">
  <button type="submit" class="btn submit-btn">Aggiorna</button>
</form>
