<div class="row maincontent">
  <div class="col-10 um-int">
    <div class="h4"><u>Ricerca o inserisci nuova unità di misra</u></div>
    <div class='switchFunction'>
      <span style=""><button type="button" class="btn btn-primary" (click)="toggleInsert()">Nuova Unità di Misura</button></span>
    </div>
    <div class="search-control">
      <app-dynamic-form [config]='searchFormFields' [formConfig]='formConfig.searchForm' #searchForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="insertMode && hasLoaded">
    <app-dynamic-form [config]='insertUmisuraFormFields' [formConfig]='formConfig.insertUmisuraForm' #insertUmisuraForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    <!--form id="insertUMForm" [formGroup] = "insertUMForm" (ngSubmit)="insert(insertUMForm)">
      Che tipo di unità di misura ti serve?: <select [(ngModel)]="selectedMainReference" (ngModelChange)="onRefChange($event,insertUMForm)"class = "form-control nameref"
      formControlName="nameref"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text">
      <option *ngFor="let ur of mainReference; let i = index;" [ngValue]="ur">{{ur.descr}}</option>
    </select>
      Riferimento principale: <input class = "form-control umref"
      #refMain
      formControlName="umref"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text"
      value="" [attr.disabled]="true"/>
      <input class = "form-control umrefsymb"   formControlName="umrefsymb" [attr.disabled]="true"/>
      <div>
      Nome nuova unità di misura: <input class = "form-control umdesc"
      formControlName="umdesc"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text"
      value="">
      Simbolo: <input class = "form-control umsymb"
      #umname
      formControlName="umsymb"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off" type="text"
      value="">
      <div id="conversione">
        <span  class="form-control" id="first" [attr.disabled]="true">{{umname.value}}</span> <span id="second">sono pari a:</span><input class = "form-control conversione"
        appFormatNumber
        formControlName="conversione"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off" type="text"
        value="">
        <span id="third" [attr.disabled]="true">{{refMain.value}}</span>
      </div>
      <button type="submit" class="btn submit-btn">Inserisci</button>
    </div>
  </form-->
    <div *ngIf="hasResponse" class="insert-result">
      <div class="insResp" [ngClass]="{'hasError':hasError}">
        <div><span><b>{{notifyInsert.msg}}</b></span></div>
        <div><span>{{notifyInsert.result}}</span></div>
      </div>
    </div>
  </div>
  <div class="col-10 results-container" *ngIf="!insertMode">
    <table class="tab-results">
      <tr>
        <th>
          Mod
        </th>
        <th>
          CODICE
        </th>
        <th>
          SIMBOLO
        </th>
        <th>
          NOME UNITA' DI MISURA
        </th>
        <th>
          CONVERSIONE
        </th>
      </tr>
      <tr *ngFor="let searchRes of searchResults">
        <td class="mod">
          <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
        </td>
        <td class="code">
          {{searchRes.id}}

        </td>
        <td class="umsymb">
          {{searchRes.umsymb}}
        </td>
        <td class="umdesc">
          {{searchRes.umdesc}}
        </td>
        <td class="conversione">
          {{searchRes.conversione}}
        </td>
      </tr>
    </table>
  </div>
</div>
