<div class="row maincontent">
  <div class="col-10 um-int">
    <div class="h4"><u>Ricerca o inserisci nuova unità di misra</u></div>
    <div class='switchFunction'>
      <span style=""><button type="button" class="btn btn-primary" (click)="toggleInsert()">Nuova Unità di Misura</button></span>
    </div>
    <div class="search-control">
      <app-dynamic-form [config]='searchFormFields' [formConfig]='formConfig.searchForm' #searchForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    </div>
  </div>
  <div class="col-10 insert-form-container" *ngIf="insertMode">
    <app-dynamic-form [config]='insertUmisuraFormFields' [formConfig]='formConfig.insertUmisuraForm' #insertUmisuraForm  (notifyChanges)='manageFormChange($event)' (formSubmit)='onFormSubmit($event)'></app-dynamic-form>
    <div *ngIf="hasResponse" class="insert-result">
      <div class="insResp" [ngClass]="{'hasError':hasError}">
        <div><span><b>{{notifyInsert.msg}}</b></span></div>
        <div><span>{{notifyInsert.result}}</span></div>
      </div>
    </div>
  </div>
  <div class="col-10 results-container" *ngIf="!insertMode">
    <table class="tab-results">
      <tr>
        <th>
          Mod
        </th>
        <th>
          CODICE
        </th>
        <th>
          SIMBOLO
        </th>
        <th>
          NOME UNITA' DI MISURA
        </th>
        <th>
          CONVERSIONE
        </th>
      </tr>
      <ng-template ngFor let-searchRes [ngForOf]="searchResults" let-i="index">
      <tr>
        <td class="mod">
          <span><!--i class="fa fa-pencil" aria-hidden="true" (click)="toggleUpdating(i)"></i--></span>
        </td>
        <td class="code">
          {{searchRes.id}}

        </td>
        <td class="umsymb">
          {{searchRes.umsymb}}
        </td>
        <td class="umdesc">
          {{searchRes.umdesc}}
        </td>
        <td class="conversione">
          {{searchRes.conversione}}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <div class="update-div" *ngIf="isUpdating[i]"  [ngClass]="{'even': i % 2 == 0}" >
            <!--app-dynamic-form
              [config]='updateUmisuraFormFields'
              [formConfig]='formConfig.updateUmisuraForm'
              [patchValues]='searchRes'
              #updateUmisuraForm
              (initialValue)='setInitValue($event)'
              (notifyChanges)='manageFormChange($event)'
              (formSubmit)='onFormSubmit($event)'>
            </app-dynamic-form-->
            <!--app-update-um [inputFields]="searchRes"
              [formConfig]='formConfig.insertUmisuraForm'
              [fieldsFormConfig]='updateUmisuraFormFields'
              [ind]="i"
              (updateParent)='updateSearchResults($event)'>
            </app-update-um-->
          </div>
        </td>
      </tr>
    </ng-template>
    </table>
  </div>
</div>
